In [1]:
import pandas as pd
from datetime import datetime
dfRuben=pd.DataFrame()
start =pd.Timestamp('2022-10-01')#.strftime("%d-%m-%Y")
end = pd.Timestamp.now()
fechas = pd.date_range(start, end)#.strftime("%d-%m-%Y")
dfRuben = pd.DataFrame(index = fechas,columns = ['ruben'])

In [2]:
datos_miguel={'miguel':{'02-10-2022':4,'05-10-2022':7,'12-10-2022':1,'13-10-2022':6,'17-10-2022':3}}
datos_ruben={'ruben':{'2022-10-4':4,'2022-10-5':5,'2022-10-10':5,'2022-10-15':6,'2022-10-18':8}}
datos_walter={'walter':{'01-10-2022':1,'09-10-2022':3,'10-10-2022':8,'13-10-2022':6,'17-10-2022':2}}

In [3]:
for i  in datos_ruben:
    for x in datos_ruben[i]:
        print('x:',x,'i:',i)
        print('datos ruben',datos_ruben[i][x])
        dfRuben.loc[x,i]=datos_ruben[i][x]

x: 2022-10-4 i: ruben
datos ruben 4
x: 2022-10-5 i: ruben
datos ruben 5
x: 2022-10-10 i: ruben
datos ruben 5
x: 2022-10-15 i: ruben
datos ruben 6
x: 2022-10-18 i: ruben
datos ruben 8

In [6]:
dfRuben = dfRuben.fillna(0)
dfRuben

            ruben
2022-10-01      0
2022-10-02      0
2022-10-03      0
2022-10-04      4
2022-10-05      5
2022-10-06      0
2022-10-07      0
2022-10-08      0
2022-10-09      0
2022-10-10      5
2022-10-11      0
2022-10-12      0
2022-10-13      0
2022-10-14      0
2022-10-15      6
2022-10-16      0
2022-10-17      0
2022-10-18      8
2022-10-19      0
2022-10-20      0

In [8]:
dfRuben.index = pd.to_datetime(dfRuben.index)
dfDatosRubenSemanal=dfRuben.groupby(pd.Grouper(freq='1W')).sum()
dfDatosRubenSemanal

            ruben
2022-10-02      0
2022-10-09      9
2022-10-16     11
2022-10-23      8

In [65]:
df2 = dfRuben.rename(index=str)
print(dfRuben)
listadf = []

for i in df2.index:
    print('i=',i)
    print('type i=',type(i))
    t = i.replace("00:00:00", "")
    listadf.append(t)



dfRuben.index = listadf

dfRuben1 = dfRuben.to_json()

print(dfRuben1)

            ruben
2022-10-01      0
2022-10-02      0
2022-10-03      0
2022-10-04      4
2022-10-05      5
2022-10-06      0
2022-10-07      0
2022-10-08      0
2022-10-09      0
2022-10-10      5
2022-10-11      0
2022-10-12      0
2022-10-13      0
2022-10-14      0
2022-10-15      6
2022-10-16      0
2022-10-17      0
2022-10-18      8
2022-10-19      0
2022-10-20      0
i= 2022-10-01 00:00:00
type i= <class 'str'>
i= 2022-10-02 00:00:00
type i= <class 'str'>
i= 2022-10-03 00:00:00
type i= <class 'str'>
i= 2022-10-04 00:00:00
type i= <class 'str'>
i= 2022-10-05 00:00:00
type i= <class 'str'>
i= 2022-10-06 00:00:00
type i= <class 'str'>
i= 2022-10-07 00:00:00
type i= <class 'str'>
i= 2022-10-08 00:00:00
type i= <class 'str'>
i= 2022-10-09 00:00:00
type i= <class 'str'>
i= 2022-10-10 00:00:00
type i= <class 'str'>
i= 2022-10-11 00:00:00
type i= <class 'str'>
i= 2022-10-12 00:00:00
type i= <class 'str'>
i= 2022-10-13 00:00:00
type i= <class 'str'>
i= 2022-10-14 00:00:00
type i= <class 'str'>
i= 2022-10-15 00:00:00
type i= <class 'str'>
i= 2022-10-16 00:00:00
type i= <class 'str'>
i= 2022-10-17 00:00:00
type i= <class 'str'>
i= 2022-10-18 00:00:00
type i= <class 'str'>
i= 2022-10-19 00:00:00
type i= <class 'str'>
i= 2022-10-20 00:00:00
type i= <class 'str'>
{"ruben":{"2022-10-01 ":0,"2022-10-02 ":0,"2022-10-03 ":0,"2022-10-04 ":4,"2022-10-05 ":5,"2022-10-06 ":0,"2022-10-07 ":0,"2022-10-08 ":0,"2022-10-09 ":0,"2022-10-10 ":5,"2022-10-11 ":0,"2022-10-12 ":0,"2022-10-13 ":0,"2022-10-14 ":0,"2022-10-15 ":6,"2022-10-16 ":0,"2022-10-17 ":0,"2022-10-18 ":8,"2022-10-19 ":0,"2022-10-20 ":0}}